

header {

}

/*ul .nav{
	background: #F96400;
}	 
nav .nav{
	background: #F96400;
}
div .collapse {
	background: #F96400;	
}	
div .navbar-brand {
	background: #F96400;
}	
div .navbar-header {
	background: #F96400;
}	*/
nav{
    background: black;
	padding: 8px;
    margin-bottom: 20px;
    border-radius:10px;

   /* background-image: -webkit-gradient(linear, left top, left bottom, from(#F96400) );
      background-image: -moz-linear-gradient(top, #F96400, #F96400);/*Para Firefox
      background-image: -o-linear-gradient(top, #F96400, #F96400);/
      background-image: linear-gradient(top, #F96400, #F96400);
	*/
}
footer{
width:100%;
height:100px;
margin-top:2%; 
background:black;
display: block;

}
.textoFooter{
	font-weight:bold;
	font-size: 15px;
	color: #FFFFFF;
	font: icon;
	padding: 10px;
	text-align: center;
}
div .logo{
	width:8%;
    margin:0%0%0%46%;
 }



div .logore{
width:10%;
margin-bottom:2%;
}

div .logoto{
width:10%;
height:5%;
margin-bottom:2%;
}
div .iconoActu{
	width:10%;  
 }
div .col-md-4{
	 margin-bottom:2%;	 
}
div .iconoReg{
	width:10%;
    
 }
 
 div .logosu{
width:200%;
height:200%;
margin-bottom:2%;
}

div .iconoEx{
	width:40%;
 }
div .logoOp{
	width:25%;
	margin-bottom:2%;
}

div .logoRu{
	width:20%;
	margin-bottom:2%;
}

li a{
	font-weight:bold;
	font-size: 15px;
	color: #FFFFFF;
	font: icon;
	padding: 10px;

}

