#espacio {

    margin-bottom: 38px;
}

.contenedor2 {
    margin: auto;
    margin-top: 40px;
    max-width: 97%;

}

.contenedor1 {
    margin: auto;
    margin-top: 40px;
    max-width: 90%;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #caecff;
}

#table-table {

    height: 500px;
    overflow: auto;
}

.btn1{
    margin-top: 24px;
}
